# Playful Pandas
`pandas` is a very popular and powerful Python module used by data scientists to perfom many tasks, and make their lives easier. In this lab you will be exploring and using the `pandas` library to be used in your unit project.

For any questions, edit the appropriate markdown block and answer between the ` ``` ``` ` using complete sentences. 

For any code blocks you are to include comments explaining your code to recieve full credit.

1. Go to the `pandas` documentation site [here](https://pandas.pydata.org/) to learn more about the library. In your own words describe what `pandas` is used for, and what features does it offer to data scientists?
```
Pandas is a Python library widely used in data science for data analysis and manipulation tasks. It offers data structures like DataFrame, allowing data scientists to handle and process structured data efficiently. Pandas is instrumental in cleaning, transforming, and exploring datasets. It simplifies tasks such as handling missing data, merging and joining datasets, and performing group operations. Data scientists use Pandas for data preprocessing, making it suitable for machine learning applications. Its powerful indexing and selection capabilities enable easy data slicing and manipulation. Additionally, Pandas integrates seamlessly with visualization libraries, aiding in data representation. Overall, Pandas is indispensable for data scientists, providing a versatile toolkit for managing and analyzing data, making it a cornerstone in the Python data science ecosystem.
```

2. Using the terminal install the `pandas` library. What command did you use?
```
"pip3 install pandas" or "pip3 install pandas3"
```

In [4]:
# Importing pandas
import pandas as pd

3. `pandas` loads data into what is known as a dataframe (df for short). What function from the `pd` library is used to load data from a csv file?

```
To load data from a CSV file into a Pandas DataFrame, you can use the pd.read_csv("someFile.csv") function.
```

Use this function in the code block below to load data from the file `titanic.csv` into a variable called `df`

In [5]:
df = pd.read_csv("titanic.csv")

#set df var to hold the data from the titanic.csv file for later minipulation

Now that we have our data loaded into pandas we can try out our first function `df.head()`. Run the code block below.

In [6]:
df.head()

#used head function to display the first 5 rows of data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

4. Describe the output of the `df.head()` function, what could it be used for?
```
When df.head() is called, where df is the var name (short for DataFrame), it displays a preview of the data. It shows the first 5 rows of people and their profiles of their identity on the titanic (fare, their cabin, their emabrkation status, ticket id, etc).
```

5. What information is avaiable to perform data analytics

```
df.head() displays a preview of the data. It shows the first 5 rows of people and their profiles of their identity on the titanic (fare, their cabin, their emabrkation status, ticket id, etc).
```

5. Using the pandas documentation find the function that will give us a list of all the columns present in the dataset. Then Use the function in the codeblock below this question
```
The function in the pandas library to obtain a list of all the columns present in a dataset is "columns"
```

In [20]:
columns_list = df.columns.tolist()

print(columns_list)

# set columns_list var to be first the row which titles the columns using "columns" function and then the "tolist" function to convert to a list

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

If we want to focus in on one column, we can do a similar operation that we will do with `dict`'s. 

Create a variable called `age`, then using square brackets set it equal to the dataframe's age column.

In [25]:
age = df["Age"]

print(age)

#set age to be the name of the 5th coll=umn in the df (titanic.csv DataFrame var)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

Now that we have a variable that is a specific column, we can use the `min`, `max` and `mean` functions with that variable. 

Run the codeblock below:

In [24]:
print("max() :", age.max())


print("min() :", age.min())


print("mean() :", age.mean())

max() : 80.0
min() : 0.42
mean() : 29.69911764705882

6. What are the outputs of the various functions? How would these functions be useful in data science?
```
The outputs show the average age, youngest, and oldest age of the passengers from the titanic.csv file. This can be useful in data science for things like demographic analysis, health and saftey measures needed on future ocean liners that cater to the different age groups, personalized marketing for things people can buy on future ocean liners, etc.
```

7. Watch the following video about pandas `group_by` function. [Watch Here](https://www.youtube.com/watch?v=qy0fDqoMJx8). What is the purpose of the group by function? How can it be used in data science operations?
```
The groupby() function in Pandas is used to split data into groups based on certain criteria, perform operations on these groups, and then combine the results. In data science, it's pivotal for tasks like data aggregation, transformation, and filtration. For instance, it helps calculate statistics (like mean or sum) for different groups, transforming data within specific categories, or filtering out subsets that meet specific conditions. This functionality is essential in exploratory data analysis, allowing data scientists to uncover patterns and trends within different segments of the data. It is also used in feature engineering, enabling the creation of new variables based on group-specific calculations. In summary, groupby() is a fundamental tool for grouping and analyzing data in diverse ways, making it central to various data science operations.
```

Using our already existing dataframe (`df`) use the goup by function to figure out what the average age of those who survived the Titanic sinking vs those who did not survive.

In [32]:
#df.groupby("Age").Fare.mean()

df.groupby("Survived").Age.mean()

# did df then group by survied to get the surived column and then age which will be sorted based on the mean age of everyone that survived and then the mean age of everyone that did not survive

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64